#root {
 -fx-background-color:  linear-gradient(lightgray, gray);
}

 
#btn {
    -fx-background-radius: 30, 30, 29, 28;
    -fx-background-color: linear-gradient(orange, orangered );
}
#combobox{
	 -fx-background-color: gold;
}
 
#text {
 -fx-fill:  white;
  -fx-background-color:  OLDLACE;
  -fx-padding: 40 190 40 190;
 
}
